.card-client {
    border-radius: 30px !important;
    width: 380px !important;
    height: 240px !important;
}

.client{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Media Queries for Additional Tweaks */
@media (max-width: 1024px) {
    .card-client {
        width: 18rem !important;
        height: 18rem !important;
    }
}

@media (max-width: 768px) {
    .card-client {
        width: 300px !important;
        height: 242px !important;
    }
}

@media (max-width: 480px) {
    .card-client {
        width: 100% !important;
        height: auto !important;
        padding: 20px;
        box-sizing: border-box;
    }
}
